on:
  workflow_call:
    inputs:
      run-id:
        required: true
        type: string
      container-registry:
        required: true
        type: string
      image-ref:
        required: true
        type: string
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  backend-push-image-to-registry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/cache@v5
        with:
          path: /tmp/images
          key: docker-backend-images-cache-${{ inputs.run-id }}
          restore-keys: docker-backend-images-cache-${{ inputs.run-id }}
      - name: load image
        shell: bash
        run: docker load -i /tmp/images/backend-image.tar
      - name: Log into container registry
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ inputs.container-registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish backend container image
        run: docker push ${{ inputs.image-ref }}
      - name: Install cosign
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sigstore/cosign-installer@430b6a704fe0c92f1b1261d84376a900f38d90ff
        with:
          cosign-release: "v2.6.0" # We need to use v2.X.X because of major version GHA v4.X.X and broken image verification of Kyverno
      - name: Sign the published Docker image
        run: cosign sign --yes ${{ inputs.image-ref }}
      - name: Download cosign vulnerability scan record
        uses: actions/download-artifact@v7
        with:
          name: "backend-cosign-vuln.json"
      - name: Attest vulnerability scan
        run: cosign attest --yes --replace --predicate backend-cosign-vuln.json --type vuln ${{ inputs.image-ref }}
      - name: Send status to Slack
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: digitalservicebund/notify-on-failure-gha@814d0c4b2ad6a3443e89c991f8657b10126510bf # v1.5.0
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
